Repository breadwallet/brd-mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

build-cosmos:
  stage: build
  script:
  - ./gradlew allTest --no-daemon
  artifacts:
    when: on_failure
    paths:
    - ./**/build/reports/tests

build-android:
  stage: build
  script:
  - ./gradlew :brd-android:app:build -xlint -xdetekt --no-daemon
  artifacts:
    when: always
    paths:
    - brd-android/app/build/outputs/apk/brd/debug/
    - brd-android/app/build/outputs/apk/brd/release/
    - brd-android/app/build/outputs/apk/brdTestnet/debug/
  ...

build-ios:
  stage: build
  script:
  - ./gradlew :cosmos-bundled:createXCFramework
  - xcodebuild clean -workspace brd-ios/breadwallet.xcworkspace -scheme breadwallet | xcpretty
  ...

deploy-appetize:
  stage: deploy
  needs:
  - build-android
  script:
  - ./gradlew appetizeUpload
  environment:
    name: Review $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: $NATIVE_REVIEW_URL?versionName=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    on_stop: stop-review

stop-review:
  stage: deploy
  needs:
  - build-android
  variables:
    GIT_SUBMODULE_STRATEGY: none
  script:
  - cd $CI_PROJECT_DIR; ./gradlew appetizeRemove -Pmerge=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  when: manual
  environment:
    name: Review $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    action: stop

chore: finalize sign up
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/KYCAddressFieldsCell.swift
  brd-ios/breadwallet/KYCButton.swift
  brd-ios/breadwallet/KYCCompleteButtons.swift
  brd-ios/breadwallet/KYCConstants.swift
  brd-ios/breadwallet/KYCPersonalInfoCell.swift
  brd-ios/breadwallet/KYCSignUpCell.swift
  brd-ios/breadwallet/KYCSignUpInteractor.swift
  brd-ios/breadwallet/KYCSignUpModels.swift
  brd-ios/breadwallet/KYCSignUpPresenter.swift
  brd-ios/breadwallet/KYCSignUpViewController.swift
  brd-ios/breadwallet/KYCSignUpWorker.swift
  brd-ios/breadwallet/KYCTutorial2CollectionViewCell.swift
  brd-ios/breadwallet/SimpleTextField.swift
  brd-ios/breadwallet/src/Extensions/UIColor+BRWAdditions.swift
Due: build-ios

chore: implement login worker
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogo.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogo.imageset/FabriikIcon.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogoIcon.imageset/FabriikLogoIcon.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/checkMark.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/checkMark.imageset/checkMark.pdf
  brd-ios/breadwallet/EQNetworking/KYCAPI.swift
  brd-ios/breadwallet/KYCAddressFieldsCell.swift
  brd-ios/breadwallet/KYCPersonalInfoCell.swift
  brd-ios/breadwallet/SignInInteractor.swift
  brd-ios/breadwallet/SignInModels.swift
  brd-ios/breadwallet/SignInPresenter.swift
  brd-ios/breadwallet/SignInViewController.swift
  brd-ios/breadwallet/SignInWorker.swift
  brd-ios/breadwallet/SimpleTextField.swift
  brd-ios/breadwallet/src/Constants/Strings.swift
Due: build-ios

chore: add debug config.
  brd-ios/debug.xcconfig
Due: build-ios

chore: add debug.config to project.
  brd-ios/breadwallet.xcodeproj/project.pbxproj
Due: build-ios

chore: extract base url to env variable.
  brd-ios/breadwallet/EQNetworking/KYCAPI.swift
  brd-ios/breadwallet/Info.plist
  brd-ios/breadwallet/KeyStore/KeyStoreUtils.swift
  brd-ios/breadwallet/src/Constants/Constants.swift
  brd-ios/breadwallet/src/Environment.swift
  brd-ios/breadwalletTests/BRAPIClientTests.swift
  brd-ios/debug.xcconfig
Due: build-ios

fix: use correct API URL for KV endpoints
  brd-android/app-core/src/main/java/com/platform/APIClient.kt
  brd-android/app/src/main/java/com/breadwallet/breadbox/FabriikAuthInterceptor.kt
  brd-android/app/src/main/java/com/platform/kvstore/RemoteKVStore.java
Due: build-android, deploy-appetize, stop-review

chore: update colors
  brd-ios/breadwallet/KYCAddressViewController.swift
  brd-ios/breadwallet/KYCCompleteViewController.swift
  brd-ios/breadwallet/KYCPersonalInfoViewController.swift
  brd-ios/breadwallet/KYCSignUpViewController.swift
  brd-ios/breadwallet/KYCTutorial1CollectionViewCell.swift
  brd-ios/breadwallet/KYCTutorial2CollectionViewCell.swift
  brd-ios/breadwallet/KYCUploadViewController.swift
Due: build-ios

fix: update token base url
  brd-android/app-core/src/main/java/com/platform/APIClient.kt
Due: build-android, deploy-appetize, stop-review

chore: ui updates
  brd-ios/breadwallet/KYCSignUpCell.swift
  brd-ios/breadwallet/SimpleTextField.swift
  cosmos-bundled/build-frameworks/Cosmos.xcframework/Info.plist
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

feat: add BSV support
  brd-android/app-core/src/main/java/com/breadwallet/tools/util/CoingeckoIds.kt
  brd-android/app-core/src/main/res/raw/tokens_testnet.json
Due: build-android, deploy-appetize, stop-review

chore: use env for endpoints
  brd-ios/breadwallet/EQNetworking/KYCAPI.swift
Due: build-ios

chore: add iqkeyboardmanager
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet.xcworkspace/xcshareddata/swiftpm/Package.resolved
  brd-ios/breadwallet/src/ApplicationController.swift
Due: build-ios

chore: KYC Confirm email screen
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/KYCConfirmEmailCell.swift
  brd-ios/breadwallet/KYCConfirmEmailCell.xib
  brd-ios/breadwallet/KYCConfirmEmailInteractor.swift
  brd-ios/breadwallet/KYCConfirmEmailModels.swift
  brd-ios/breadwallet/KYCConfirmEmailPresenter.swift
  brd-ios/breadwallet/KYCConfirmEmailRouter.swift
  brd-ios/breadwallet/KYCConfirmEmailViewController.swift
  brd-ios/breadwallet/KYCConfirmEmailWorker.swift
  brd-ios/breadwallet/KYCSignUpRouter.swift
  brd-ios/breadwallet/KYCSignUpViewController.swift
Due: build-ios

changing more ui
  brd-android/app/src/main/res/layout/controller_home.xml
  brd-android/app/src/main/res/layout/controller_login.xml
  brd-android/theme/src/main/res/values/colors.xml
Due: build-android, deploy-appetize, stop-review

adding version 10
  buildSrc/src/main/kotlin/brd/BrdRelease.kt
Due: build-android

chore: sign in flow updates
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet.xcworkspace/xcshareddata/swiftpm/Package.resolved
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Header Logo.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Header Logo.imageset/KYC Header Logo.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/KYCHeaderLogo.imageset/KYCHeaderLogo.pdf
  brd-ios/breadwallet/Assets.xcassets/MenuIcons/registrationAndKyc.imageset/registrationAndKyc.pdf
  brd-ios/breadwallet/KYCNavigationController.swift
  brd-ios/breadwallet/KYCPostPersonalInformationWorker.swift
  brd-ios/breadwallet/KYCSessionModel.swift
  brd-ios/breadwallet/KYCSessionModelMapper.swift
  brd-ios/breadwallet/KYCSessionModelResponse.swift
  brd-ios/breadwallet/KYCSignInInteractor.swift
  brd-ios/breadwallet/KYCSignInRouter.swift
  brd-ios/breadwallet/KYCSignInViewController.swift
  brd-ios/breadwallet/KYCSignInWorker.swift
  brd-ios/breadwallet/KYCSignUpInteractor.swift
  brd-ios/breadwallet/KYCSignUpWorker.swift
  brd-ios/breadwallet/KYCTutorialRouter.swift
  brd-ios/breadwallet/KYCTutorialViewController.swift
  brd-ios/breadwallet/KYCUploadFrontBackWorker.swift
  brd-ios/breadwallet/KYCUploadSelfieWorker.swift
  brd-ios/breadwallet/src/Constants/Strings.swift
  brd-ios/breadwallet/src/Extensions/UserDefaults+Additions.swift
  brd-ios/breadwallet/src/ModalPresenter.swift
Due: build-ios

chore: add comment
  brd-ios/breadwallet/KYCSignInInteractor.swift
Due: build-ios

chore: minor cleanup
  brd-ios/breadwallet/KYCConfirmEmailCell.swift
  brd-ios/breadwallet/KYCConfirmEmailInteractor.swift
  brd-ios/breadwallet/KYCConfirmEmailModels.swift
  brd-ios/breadwallet/KYCConfirmEmailViewController.swift
Due: build-ios

chore: cleanup
  brd-ios/breadwallet/KYCConfirmEmailViewController.swift
Due: build-ios

updating icon and package name
  brd-android/app-core/src/main/res/drawable/ic_flower_black.xml
  brd-android/app-core/src/main/res/drawable/ic_flower_gray.xml
  brd-android/app/brd/release/output-metadata.json
  brd-android/app/build.gradle.kts
Due: build-android, deploy-appetize, stop-review

feat: resend and confirm flow
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/EQNetworking/KYCAPI.swift
  brd-ios/breadwallet/KYCCompleteRouter.swift
  brd-ios/breadwallet/KYCCompleteViewController.swift
  brd-ios/breadwallet/KYCConfirmEmailCell.swift
  brd-ios/breadwallet/KYCConfirmEmailInteractor.swift
  brd-ios/breadwallet/KYCConfirmEmailModels.swift
  brd-ios/breadwallet/KYCConfirmEmailPresenter.swift
  brd-ios/breadwallet/KYCConfirmEmailRouter.swift
  brd-ios/breadwallet/KYCConfirmEmailViewController.swift
  brd-ios/breadwallet/KYCConfirmEmailWorker.swift
  brd-ios/breadwallet/KYCResendConfirmEmailWorker.swift
  brd-ios/breadwallet/KYCSignInViewController.swift
  brd-ios/breadwallet/KYCSignUpInteractor.swift
  brd-ios/breadwallet/KYCSignUpViewController.swift
  brd-ios/breadwallet/KYCSignUpWorker.swift
Due: build-ios

fix: sign up button loading
  brd-ios/breadwallet/KYCSignInViewController.swift
Due: build-ios

fix: resolve token issue
  brd-android/app-core/src/main/java/com/breadwallet/tools/util/TokenUtil.kt
Due: build-android, deploy-appetize, stop-review

feat: prepare wyre demo module
  brd-android/app/build.gradle.kts
  brd-android/buy/.gitignore
  brd-android/buy/build.gradle.kts
  brd-android/buy/consumer-rules.pro
  brd-android/buy/proguard-rules.pro
  brd-android/buy/src/main/AndroidManifest.xml
  brd-android/buy/src/main/java/com/fabriik/buy/data/Resource.kt
  brd-android/buy/src/main/java/com/fabriik/buy/data/Status.kt
  brd-android/buy/src/main/java/com/fabriik/buy/data/WyreApi.kt
  brd-android/buy/src/main/java/com/fabriik/buy/data/WyreService.kt
  brd-android/buy/src/main/java/com/fabriik/buy/data/requests/ReservationUrlRequest.kt
  brd-android/buy/src/main/java/com/fabriik/buy/data/responses/ReservationUrlResponse.kt
  brd-android/buy/src/main/java/com/fabriik/buy/ui/BuyWebViewActivity.kt
  brd-android/buy/src/main/java/com/fabriik/buy/ui/BuyWebViewViewModel.kt
  brd-android/buy/src/main/res/layout/activity_buy_web_view.xml
  buildSrc/src/main/kotlin/brd/Libs.kt
  settings.gradle.kts
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

feat: update Buy activity
  brd-android/app/src/main/java/com/breadwallet/ui/navigation/RouterNavigator.kt
  brd-android/buy/build.gradle.kts
  brd-android/buy/src/main/AndroidManifest.xml
  brd-android/buy/src/main/java/com/fabriik/buy/ui/BuyWebViewActivity.kt
  buildSrc/src/main/kotlin/brd/Libs.kt
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

fix: add todos
  brd-android/buy/src/main/java/com/fabriik/buy/data/WyreApi.kt
Due: build-android, deploy-appetize, stop-review

fix: resolve security hotspots issues
  brd-android/buy/src/main/AndroidManifest.xml
Due: build-android, deploy-appetize, stop-review

fix: update available tokens backup file
  brd-android/app-core/src/main/res/raw/tokens.json
Due: build-android, deploy-appetize, stop-review

fix: close BuyWebViewActivity when user tap on X button
  brd-android/buy/src/main/java/com/fabriik/buy/data/WyreApi.kt
  brd-android/buy/src/main/java/com/fabriik/buy/ui/BuyWebViewActivity.kt
Due: build-android, deploy-appetize, stop-review

feat: replace text with Switch
  brd-android/app/src/main/java/com/breadwallet/ui/addwallets/AddTokenListAdapter.kt
  brd-android/app/src/main/res/layout/token_list_item.xml
Due: build-android, deploy-appetize, stop-review

Adding kyc action
  brd-android/app/src/main/java/com/breadwallet/ui/navigation/NavigationTarget.kt
  brd-android/app/src/main/java/com/breadwallet/ui/navigation/NavigationTargetHandlerSpec.kt
  brd-android/app/src/main/java/com/breadwallet/ui/navigation/RouterNavigator.kt
  brd-android/app/src/main/java/com/breadwallet/ui/settings/SettingsOption.kt
  brd-android/app/src/main/java/com/breadwallet/ui/settings/SettingsScreen.kt
  brd-android/app/src/main/java/com/breadwallet/ui/settings/SettingsScreenHandler.kt
  brd-android/app/src/main/java/com/breadwallet/ui/settings/SettingsUpdate.kt
Due: build-android, deploy-appetize, stop-review

changing BRD to fabriik in strings.xml (english)
  brd-android/app-core/src/main/res/values/strings.xml
Due: build-android, deploy-appetize, stop-review

copy and replace did it too much
  brd-android/app-core/src/main/res/values/strings.xml
Due: build-android, deploy-appetize, stop-review

adding non translatable
  brd-android/app-core/src/main/res/values/strings.xml
Due: build-android, deploy-appetize, stop-review

adding onboarding branded by fabriik
  brd-android/app-core/src/main/res/drawable-hdpi/page1.png
  brd-android/app-core/src/main/res/drawable-hdpi/page2.png
  brd-android/app-core/src/main/res/drawable-hdpi/page3.png
  brd-android/app-core/src/main/res/drawable-xhdpi/page1.png
  brd-android/app-core/src/main/res/drawable-xhdpi/page2.png
  brd-android/app-core/src/main/res/drawable-xhdpi/page3.png
  brd-android/app-core/src/main/res/drawable-xxhdpi/page1.png
  brd-android/app-core/src/main/res/drawable-xxhdpi/page2.png
  brd-android/app-core/src/main/res/drawable-xxhdpi/page3.png
  brd-android/app-core/src/main/res/drawable-xxxhdpi/page1.png
  brd-android/app-core/src/main/res/drawable-xxxhdpi/page2.png
  brd-android/app-core/src/main/res/drawable-xxxhdpi/page3.png
  brd-android/app/src/main/java/com/breadwallet/ui/onboarding/OnBoardingController.kt
  brd-android/app/src/main/res/layout/controller_intro.xml
  brd-android/app/src/main/res/layout/controller_on_boarding.xml
  brd-android/app/src/main/res/layout/controller_onboarding_page.xml
  brd-android/theme/src/main/res/values/colors.xml
Due: build-android, deploy-appetize, stop-review

feat: update token item
  brd-android/app-core/src/main/res/values/dimens.xml
  brd-android/app/src/main/java/com/breadwallet/ui/addwallets/AddTokenListAdapter.kt
  brd-android/app/src/main/java/com/breadwallet/ui/addwallets/AddWalletsController.kt
  brd-android/app/src/main/res/layout/token_list_item.xml
  brd-android/theme/src/main/res/color/switch_thumb_tint.xml
  brd-android/theme/src/main/res/color/switch_track_tint.xml
  brd-android/theme/src/main/res/values/colors.xml
  brd-android/theme/src/main/res/values/styles.xml
Due: build-android, deploy-appetize, stop-review

Path conditions:
  build-cosmos: any of: buildSrc/**/Libs.kt, cosmos-*/**/*, .gitlab-ci.yml
  build-android: any of: buildSrc/**/Libs.kt, buildSrc/**/BrdRelease.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
  build-ios: any of: buildSrc/**/Libs.kt, brd-ios/**/*, cosmos-*/**/*, .gitlab-ci.yml
  deploy-appetize: any of: buildSrc/**/Libs.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
  stop-review: any of: buildSrc/**/Libs.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
