Repository breadwallet/brd-mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

build-cosmos:
  stage: build
  script:
  - ./gradlew allTest --no-daemon
  artifacts:
    when: on_failure
    paths:
    - ./**/build/reports/tests

build-android:
  stage: build
  script:
  - ./gradlew :brd-android:app:build -xlint -xdetekt --no-daemon
  artifacts:
    when: always
    paths:
    - brd-android/app/build/outputs/apk/brd/debug/
    - brd-android/app/build/outputs/apk/brd/release/
    - brd-android/app/build/outputs/apk/brdTestnet/debug/
  ...

build-ios:
  stage: build
  script:
  - ./gradlew :cosmos-bundled:createXCFramework
  - xcodebuild clean -workspace brd-ios/breadwallet.xcworkspace -scheme breadwallet | xcpretty
  ...

deploy-appetize:
  stage: deploy
  needs:
  - build-android
  script:
  - ./gradlew appetizeUpload
  environment:
    name: Review $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    url: $NATIVE_REVIEW_URL?versionName=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    on_stop: stop-review

stop-review:
  stage: deploy
  needs:
  - build-android
  variables:
    GIT_SUBMODULE_STRATEGY: none
  script:
  - cd $CI_PROJECT_DIR; ./gradlew appetizeRemove -Pmerge=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  when: manual
  environment:
    name: Review $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    action: stop

Fixed issue from old breadwallet-ios repo(https://github.com/breadwallet/breadwallet-ios/issues/197). The complete text overlaps with the tick icon on transaction details screen.
  brd-ios/breadwallet/src/ViewModels/TxDetailViewModel.swift
Due: build-ios

Update README.md
  README.md
Due: none

Renames conflicting resource id's for exchange dialog
  brd-android/app/src/main/res/layout/controller_exchange_alert_dialog.xml
Due: build-android, deploy-appetize, stop-review

Guard against potential crash in BrowserController when accessing current model
  brd-android/app/src/main/java/com/breadwallet/ui/exchange/PartnerBrowserController.kt
Due: build-android, deploy-appetize, stop-review

Bump to v4.14.0.13
  buildSrc/src/main/kotlin/brd/BrdRelease.kt
Due: build-android

Bump to v4.14.0.14
  buildSrc/src/main/kotlin/brd/BrdRelease.kt
Due: build-android

Update identifiers to com.fabriik.one.xxxxx
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/KeyStore/KeyStoreUtils.swift
  brd-ios/breadwallet/breadwallet.entitlements
  brd-ios/breadwallet/src/Platform/BRReplicatedKVStore.swift
  brd-ios/breadwallet/src/UserDefaultsUpdater.swift
  brd-ios/breadwallet/src/Wallet/CoreSystem.swift
  brd-ios/breadwalletTests/TestHelpers.swift
  brd-ios/breadwalletWidget/breadwalletWidgetExtension.entitlements
Due: build-ios

feat: update endpoints
  brd-android/app-core/src/main/java/com/breadwallet/breadbox/FabriikApiConstants.kt
  brd-android/app-core/src/main/java/com/breadwallet/tools/util/TokenUtil.kt
  brd-android/app-core/src/main/java/com/platform/APIClient.kt
  brd-android/app/build.gradle.kts
  brd-android/app/src/main/java/com/breadwallet/app/BreadApp.kt
  brd-android/app/src/main/java/com/breadwallet/breadbox/FabriikAuthInterceptor.kt
  gradle.properties
Due: build-android, deploy-appetize, stop-review

comment out ImageMagick stuff
  brd-ios/breadwallet.xcodeproj/project.pbxproj
Due: build-ios

Update icons
  brd-ios/breadwallet/Icon.xcassets/AppIcon-Internal.appiconset/Contents.json
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/App Store iOS.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/Contents.json
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-1024.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-30.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-60@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-60@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-76.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-76@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-83.5@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad App 76pt.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad App 76pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Notification 20pt.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Notification 20pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Pro App 83,5pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Settings 29pt.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Settings 29pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Spotlight 40pt.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad Spotlight 40pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone App 60pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone App 60pt@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Notification 20pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Notification 20pt@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Settings 29pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Settings 29pt@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Spotlight 40pt@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone Spotlight 40pt@3x.png
  cosmos-bundled/build-frameworks/Cosmos.xcframework/Info.plist
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

update some images
  brd-ios/breadwallet/Assets.xcassets/Logo.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/Logo.imageset/Logo copy.png
  brd-ios/breadwallet/Assets.xcassets/Logo.imageset/Logo.png
  brd-ios/breadwallet/Assets.xcassets/LogoCutout.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/LogoCutout.imageset/Logo Cutout.png
  brd-ios/breadwallet/Assets.xcassets/LogoCutout.imageset/LogoCutout.pdf
  brd-ios/breadwallet/Assets.xcassets/LogoGradient.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/LogoGradient.imageset/LogoGradient.pdf
  brd-ios/breadwallet/Assets.xcassets/LogoGradient.imageset/LogoGradient.png
  brd-ios/breadwallet/Assets.xcassets/LogoGradientLarge.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/LogoGradientLarge.imageset/LogoGradientLarge.pdf
  brd-ios/breadwallet/Assets.xcassets/LogoGradientLarge.imageset/LogoGradientLarge.png
  brd-ios/breadwallet/Assets.xcassets/LogoGradientSmall.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/LogoGradientSmall.imageset/brd-logo-gradient-64x20.pdf
  brd-ios/breadwallet/Assets.xcassets/LogoGradientSmall.imageset/fabriik_logo_white.png
Due: build-ios

feat: replace breadwallet API with Fabric API
  brd-android/app-core/src/main/java/com/breadwallet/breadbox/FabriikApiConstants.kt
  brd-android/app-core/src/main/java/com/platform/APIClient.kt
Due: build-android, deploy-appetize, stop-review

feat: use FabriikApiConstants in BreadApp
  brd-android/app-core/src/main/java/com/breadwallet/breadbox/FabriikApiConstants.kt
  brd-android/app/src/main/java/com/breadwallet/app/BreadApp.kt
Due: build-android, deploy-appetize, stop-review

fix: set branch for walletkit submodule
  .gitmodules
Due: none

fix: revert gitmodules changes
  .gitmodules
Due: none

pushing victor changeS
  brd-android/app-core/build.gradle.kts
  brd-android/app/build.gradle.kts
  cosmos-bundled/build.gradle.kts
  gradle.properties
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

change urls
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/Info.plist
  brd-ios/breadwallet/KeyStore/KeyStoreUtils.swift
  brd-ios/breadwallet/src/Constants/Constants.swift
  brd-ios/breadwalletTests/BRAPIClientTests.swift
Due: build-ios

fix: hardcode token.
  brd-ios/breadwallet/src/ApplicationController.swift
Due: build-ios

chore: disable linter for 1 line
  brd-ios/breadwallet/src/ApplicationController.swift
Due: build-ios

change ids and emails
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/src/Constants/Constants.swift
  brd-ios/breadwallet/src/ReachabilityMonitor.swift
  brd-ios/breadwallet/src/Strings/da.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/de.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/en.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/es.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/fr.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/it.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/ja.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/ko.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/nl.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/pt.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/ru.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/sv.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/zh-Hans.lproj/Localizable.strings
  brd-ios/breadwallet/src/Strings/zh-Hant.lproj/Localizable.strings
Due: build-ios

fix: login crash.
  brd-ios/breadwallet/src/ApplicationController.swift
Due: build-ios

change team for screenshots configuration
  brd-ios/breadwallet.xcodeproj/project.pbxproj
Due: build-ios

chore: authentication tokens.
  brd-ios/breadwallet/KeyStore/KeyStoreUtils.swift
  brd-ios/breadwallet/src/ApplicationController.swift
  brd-ios/breadwallet/src/Environment.swift
  brd-ios/breadwallet/src/Platform/AuthenticationClient.swift
  brd-ios/breadwallet/src/UserDefaultsUpdater.swift
  brd-ios/breadwallet/src/Wallet/Currency.swift
  brd-ios/breadwalletWidget/Model/Currency.swift
Due: build-ios

fix: change walletkit repo
  .gitmodules
Due: none

chore: refactor changes.
  brd-ios/breadwallet/KeyStore/KeyStoreUtils.swift
  brd-ios/breadwallet/src/ApplicationController.swift
  brd-ios/breadwallet/src/Environment.swift
  brd-ios/breadwallet/src/Platform/AuthenticationClient.swift
  brd-ios/breadwallet/src/UserDefaultsUpdater.swift
Due: build-ios

chore: add choose register view
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogo.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogo.imageset/FabriikIcon.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogoIcon.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/FabriikLogoIcon.imageset/FabriikLogoIcon.pdf
  brd-ios/breadwallet/ChooseRegistrationInteractor.swift
  brd-ios/breadwallet/ChooseRegistrationModels.swift
  brd-ios/breadwallet/ChooseRegistrationPresenter.swift
  brd-ios/breadwallet/ChooseRegistrationRouter.swift
  brd-ios/breadwallet/ChooseRegistrationViewController.swift
  brd-ios/breadwallet/ChooseRegistrationWorker.swift
Due: build-ios

chore: add choose register view
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/ChooseRegistrationInteractor.swift
  brd-ios/breadwallet/ChooseRegistrationModels.swift
  brd-ios/breadwallet/ChooseRegistrationPresenter.swift
  brd-ios/breadwallet/ChooseRegistrationRouter.swift
  brd-ios/breadwallet/ChooseRegistrationViewController.swift
  brd-ios/breadwallet/ChooseRegistrationWorker.swift
  brd-ios/breadwallet/KYCButton.swift
  brd-ios/breadwallet/src/ApplicationController.swift
  brd-ios/breadwallet/src/Constants/Strings.swift
  brd-ios/breadwallet/src/ModalPresenter.swift
Due: build-ios

update script
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/src/ApplicationController.swift
Due: build-ios

feqt: configiratuon.
  brd-ios/breadwallet/Info.plist
  brd-ios/breadwallet/src/ApplicationController.swift
  brd-ios/breadwallet/src/Environment.swift
  brd-ios/breadwallet/src/Platform/BRReplicatedKVStore.swift
  brd-ios/breadwallet/src/Wallet/WalletInitializer.swift
  brd-ios/testnet.xcconfig
Due: build-ios

chore: updat econfig.
  brd-ios/.gitignore
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/testnet.xcconfig
Due: build-ios

feat: ad config to all targets.
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/src/UserDefaultsUpdater.swift
  brd-ios/config.xcconfig
Due: build-ios

feat: update tokens
  brd-android/app-core/src/main/res/raw/tokens_testnet.json
  brd-android/app/src/main/java/com/breadwallet/app/BreadApp.kt
Due: build-android, deploy-appetize, stop-review

chore: add login view instead of choose sign up
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/ChooseRegistrationInteractor.swift
  brd-ios/breadwallet/ChooseRegistrationModels.swift
  brd-ios/breadwallet/ChooseRegistrationPresenter.swift
  brd-ios/breadwallet/ChooseRegistrationRouter.swift
  brd-ios/breadwallet/ChooseRegistrationViewController.swift
  brd-ios/breadwallet/KYCNavigationController.swift
  brd-ios/breadwallet/SignInInteractor.swift
  brd-ios/breadwallet/SignInModels.swift
  brd-ios/breadwallet/SignInPresenter.swift
  brd-ios/breadwallet/SignInRouter.swift
  brd-ios/breadwallet/SignInViewController.swift
  brd-ios/breadwallet/SignInWorker.swift
  brd-ios/breadwallet/src/ApplicationController.swift
  brd-ios/breadwallet/src/ModalPresenter.swift
Due: build-ios

icons from figma
  brd-ios/breadwallet/Icon.xcassets/AppIcon-Internal.appiconset/Contents.json
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/AppStore-1024@1x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/Contents.json
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-1024.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-20@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-29@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-30.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@2x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-40@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-60@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-60@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-76.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-76@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/flower1024padding-83.5@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-20@1x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-20@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-29@1x-1.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-29@1x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-29@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-40@1x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-40@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-76@1x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-76@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPad-83.5@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-20@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-20@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-29@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-29@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-40@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-40@3x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-60@2x.png
  brd-ios/breadwallet/Icon.xcassets/AppIcon.appiconset/iPhone-60@3x.png
Due: build-ios

feat: kyc sign up
  brd-ios/breadwallet.xcodeproj/project.pbxproj
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Ticked.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Ticked.imageset/KYC Ticked.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Unticked.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/KYC Unticked.imageset/KYC Unticked.pdf
  brd-ios/breadwallet/Assets.xcassets/KYC/Powered By Fabriik Logo.imageset/Contents.json
  brd-ios/breadwallet/Assets.xcassets/KYC/Powered By Fabriik Logo.imageset/PoweredByFabriikLogo.pdf
  brd-ios/breadwallet/EQNetworking/KYCAPI.swift
  brd-ios/breadwallet/KYCFooterView.swift
  brd-ios/breadwallet/KYCSignUpCell.swift
  brd-ios/breadwallet/KYCSignUpCell.xib
  brd-ios/breadwallet/KYCSignUpInteractor.swift
  brd-ios/breadwallet/KYCSignUpModels.swift
  brd-ios/breadwallet/KYCSignUpPresenter.swift
  brd-ios/breadwallet/KYCSignUpRouter.swift
  brd-ios/breadwallet/KYCSignUpViewController.swift
  brd-ios/breadwallet/KYCSignUpWorker.swift
  brd-ios/breadwallet/KYCTickBoxView.swift
  brd-ios/breadwallet/SimpleTextField.swift
  brd-ios/breadwallet/src/ModalPresenter.swift
  cosmos-bundled/build-frameworks/Cosmos.xcframework/Info.plist
Due: build-cosmos, build-android, build-ios, deploy-appetize, stop-review

Internal icons
  brd-ios/breadwallet/Icon.xcassets/AppIcon-Internal.appiconset/Contents.json
Due: build-ios

Path conditions:
  build-cosmos: any of: buildSrc/**/Libs.kt, cosmos-*/**/*, .gitlab-ci.yml
  build-android: any of: buildSrc/**/Libs.kt, buildSrc/**/BrdRelease.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
  build-ios: any of: buildSrc/**/Libs.kt, brd-ios/**/*, cosmos-*/**/*, .gitlab-ci.yml
  deploy-appetize: any of: buildSrc/**/Libs.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
  stop-review: any of: buildSrc/**/Libs.kt, brd-android/**/*, cosmos-*/**/*, .gitlab-ci.yml
